/*
* THIS IS MASTER OF SASS-FILE
* Template customize
* Built with love by juan tonang (rizwanaritonang@gmail.com)
*/
/*  VARIABLE's
/* ------------------------------------ */
/*  PARAMETRIC-MIXIN's
/* ------------------------------------ */
/*  MODULE
/* ------------------------------------ */
html, body {
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background: white;
  font-family: "Roboto Slab", sans-serif;
  font-size: 12px;
  background-color: #f7f7f7; }
  body .container {
    background-color: white; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  transition: all 250ms ease-out; }
  a:hover, a:focus {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold; }

h3 {
  font-size: 18px; }

b,
strong {
  font-weight: bold; }

dfn,
cite,
em,
i {
  font-style: italic; }

code,
kbd,
tt,
var,
samp,
pre {
  font-family: Inconsolata, monospace; }

a.img-caption {
  cursor: pointer;
  display: block;
  background-color: #10651c; }
  a.img-caption img {
    transition: opacity 350ms ease, transform 350ms ease; }
  a.img-caption:hover img, a.img-caption:focus img {
    opacity: .4; }

.space15 {
  height: 15px;
  display: block;
  width: 100%; }

.space30 {
  height: 30px;
  display: block;
  width: 100%; }

.space45 {
  height: 45px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

.reset-row-marg {
  margin-left: 0;
  margin-right: 0; }

.reset-col-padd,
.reset-cont-padd {
  padding-left: 0;
  padding-right: 0; }

.text-red {
  color: #990101; }

a.text-red {
  color: #990101; }
  a.text-red:hover, a.text-red:focus {
    color: #4d0101; }

.text-gray {
  color: #989898; }

a.text-gray {
  color: #989898; }
  a.text-gray:hover, a.text-gray:focus {
    color: #727272; }

.text-green {
  color: #258532; }

a.text-green {
  color: #258532; }
  a.text-green:hover, a.text-green:focus {
    color: #10651c; }

.text-blue {
  color: #3668af; }

a.text-blue {
  color: #3668af; }
  a.text-blue:hover, a.text-blue:focus {
    color: #244575; }

.mask-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); }

.fancy-line {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 2px solid #0f3514; }

/*  THEME
/* ------------------------------------ */
.item-header {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-right: 1px solid #10651c; }
  .item-header a {
    height: 189px;
    display: block;
    overflow: hidden;
    background-color: #10651c; }
    .item-header a:hover figure, .item-header a:focus figure {
      opacity: .4; }
    .item-header a:hover h3, .item-header a:focus h3 {
      color: #0f3514; }
  .item-header:first-child {
    border-left: 1px solid #10651c; }
  .item-header h3 {
    transition: color 350ms ease;
    margin: 0;
    padding: 8px 10px;
    background: #258532;
    background-image: url("../images/bg-gradient.png");
    background-image: url("../images/bg-gradient.png"), linear-gradient(to bottom, #258532, #10651c);
    background-position: 0;
    text-transform: uppercase;
    color: white; }
  .item-header figure {
    display: block;
    transition: opacity 350ms ease, transform 350ms ease; }
    .item-header figure img {
      height: 100%; }

.item-agenda {
  margin-bottom: 5px; }
  .item-agenda .meta-extra {
    margin-bottom: 0px; }
  .item-agenda h5 {
    margin-top: 0;
    margin-bottom: 5px; }
    .item-agenda h5 a {
      color: #333; }
      .item-agenda h5 a:hover, .item-agenda h5 a:focus {
        color: #989898; }

.item-aspirasi {
  border-top: 1px solid #10651c;
  margin-bottom: 5px; }
  .item-aspirasi:last-child {
    border-bottom: 1px solid #10651c; }
  .item-aspirasi blockquote {
    margin: 0;
    padding: 5px;
    border-left: 0;
    line-height: 1; }
    .item-aspirasi blockquote p, .item-aspirasi blockquote i {
      margin: 0;
      font-size: 12px;
      color: #989898;
      display: inline; }
    .item-aspirasi blockquote i {
      display: inline-block; }

article .meta-extra {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; }
article header {
  margin-top: 10px;
  margin-bottom: 5px; }
  article header h4 {
    margin: 0;
    font-size: 16px; }
    article header h4 a {
      color: #333; }
      article header h4 a:hover, article header h4 a:focus {
        color: #989898; }

.article-md .subarticle-md {
  border-top: 1px solid #10651c;
  border-bottom: 1px solid #10651c;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px; }
.article-md .article-content {
  padding: 0 10px; }

.articles-gallery {
  padding-left: 15px;
  padding-right: 15px; }

.item-article-gallery {
  position: relative;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 7px; }

.list-counting {
  position: relative;
  text-align: center;
  list-style: none outside none;
  margin: 0;
  padding: 0; }
  .list-counting li {
    display: inline-block;
    margin: 0; }
  .list-counting span {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    display: block;
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #999999, black);
    border-radius: 3px;
    padding: 6px 12px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.38);
    overflow: hidden; }
    .list-counting span:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      background-color: rgba(0, 0, 0, 0.7); }

.widget {
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .widget .title-widget {
    text-align: center;
    display: block;
    margin: 0 0 10px;
    padding: 8px 20px;
    font-size: 18px;
    background: #258532;
    background-image: url("../images/bg-gradient.png");
    background-image: url("../images/bg-gradient.png"), linear-gradient(to bottom, #258532, #10651c);
    background-position: 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold; }
  .widget .widget-content {
    padding: 0 15px; }

.widget-galeri-foto a {
  display: block;
  background: #10651c;
  margin-bottom: 5px;
  border: 1px solid #10651c; }
  .widget-galeri-foto a:hover img, .widget-galeri-foto a:focus img {
    opacity: .4; }
  .widget-galeri-foto a img {
    transition: opacity 350ms ease, transform 350ms ease; }

.widget-agenda .text-blue {
  float: right; }

.widget-latest-news article {
  margin-bottom: 5px; }
  .widget-latest-news article:hover .img-caption img, .widget-latest-news article:focus .img-caption img {
    opacity: .4; }
  .widget-latest-news article header {
    margin-top: 0 !important; }
.widget-latest-news .img-caption {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px; }
.widget-latest-news h5 {
  margin-top: 0; }
  .widget-latest-news h5 a {
    color: #3668af; }
    .widget-latest-news h5 a:hover, .widget-latest-news h5 a:focus {
      color: #244575; }

.main-slider {
  position: relative;
  margin-bottom: 15px; }
  .main-slider .submain-slider {
    position: relative;
    background-color: #727272; }
  .main-slider .flexslider {
    margin-bottom: 0;
    border: none; }
  .main-slider .nav-carousel {
    background: transparent; }
    .main-slider .nav-carousel li {
      border: 2px solid transparent; }
      .main-slider .nav-carousel li.flex-active-slide {
        border: 2px solid #4d0101; }

.flex-direction-nav a:before,
.flex-direction-nav a:after {
  font-size: 21px; }

/*  SITE-HEADER
/* ------------------------------------ */
.site-header {
  position: relative;
  margin-bottom: 15px; }

.header-in-left {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/bg-top.jpg");
  padding: 30px;
  max-height: 189px; }

.logo {
  float: left;
  margin-right: 30px;
  position: relative; }
  .logo a {
    display: block; }

.logo-desc {
  position: relative;
  margin-top: 30px; }
  .logo-desc h1, .logo-desc h2, .logo-desc p {
    color: white; }
  .logo-desc h1, .logo-desc h2 {
    text-transform: uppercase;
    margin: 0; }
  .logo-desc h1 {
    font-size: 23px; }
  .logo-desc h2 {
    font-size: 16px; }

.site-header-bottom {
  position: relative;
  display: block; }

.main-navigation {
  width: 100%;
  position: relative;
  background: #258532;
  background-image: url("../images/bg-gradient.png");
  background-image: url("../images/bg-gradient.png"), linear-gradient(to bottom, #258532, #10651c);
  background-position: 0;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  display: block; }
  .main-navigation ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .main-navigation ul li {
      float: left;
      display: block; }
      .main-navigation ul li:first-child a {
        border-left: 1px solid #10651c; }
      .main-navigation ul li:hover a, .main-navigation ul li:focus a, .main-navigation ul li.active a {
        color: #0f3514; }
      .main-navigation ul li a {
        display: block;
        margin: 0;
        padding: 8px 20px;
        font-size: 18px;
        border-right: 1px solid #10651c;
        color: white;
        text-transform: uppercase;
        font-weight: bold; }

/*  SITE-MAIN
/* ------------------------------------ */
.site-main {
  position: relative;
  margin-bottom: 30px; }

/*  SITE-FOOTER
/* ------------------------------------ */
.site-footer {
  background: #258532;
  background-image: url("../images/bg-gradient.png");
  background-image: url("../images/bg-gradient.png"), linear-gradient(to bottom, #258532, #10651c);
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 30px; }
  .site-footer .copyright {
    font-size: 18px;
    margin: 0;
    color: white; }
    .site-footer .copyright a {
      color: white; }
      .site-footer .copyright a:hover, .site-footer .copyright a:focus {
        color: #0f3514; }

.rwd-navigation {
  width: 100%;
  position: relative;
  background: #258532;
  background-image: url("../images/bg-gradient.png");
  background-image: url("../images/bg-gradient.png"), linear-gradient(to bottom, #258532, #0f3514);
  display: none;
  text-align: center;
  margin-bottom: 15px; }
  .rwd-navigation .btn-show {
    cursor: pointer;
    padding: 8px 10px;
    width: 100%;
    display: block;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold; }
    .rwd-navigation .btn-show:hover, .rwd-navigation .btn-show:focus {
      color: #10651c; }

.rwd-content-sidebar {
  display: none;
  margin-top: 20px; }

/*  MEDIA-QUERIES
/* ------------------------------------ */
.close-sidebar {
  margin-left: 30px; }

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .wrapper .wrapper-inner {
    transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
    position: relative;
    width: 100%;
    display: block;
    margin-right: 0; }
  .wrapper .mask-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: -1;
    opacity: 0;
    transition: all 350ms ease; }

.nav-rwd-sidebar {
  z-index: 999;
  background-color: #258532;
  position: fixed;
  height: 100%;
  transition: all 500ms ease;
  padding: 15px 0 30px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll; }
  .nav-rwd-sidebar .nav-sidebar {
    margin-top: 50px; }
  .nav-rwd-sidebar ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    margin-top: 15px; }
    .nav-rwd-sidebar ul li a, .nav-rwd-sidebar ul li span {
      color: white;
      font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
      font-size: 13px;
      text-transform: capitalize;
      padding: 8px 30px;
      display: block;
      font-weight: 600; }
    .nav-rwd-sidebar ul li a:hover, .nav-rwd-sidebar ul li a:focus {
      color: white;
      background-color: #10651c; }

.btn-hide {
  display: inline-block;
  height: 38px;
  width: 38px;
  line-height: 38px;
  text-align: center;
  color: white;
  background-color: #10651c;
  border-radius: 6px;
  font-size: 16px; }
  .btn-hide:hover, .btn-hide:focus {
    background-color: #10651c;
    color: #0f3514; }

.nav-rwd-sidebar {
  margin-left: -40%;
  width: 40%; }
  @media (max-width: 570px) {
    .nav-rwd-sidebar {
      width: 60%;
      margin-left: -60%; } }
  .nav-rwd-sidebar.rwd-sidebar-active {
    margin-left: 0; }

.wrapper .wrapper-inner {
  margin-right: 0; }
  .wrapper .wrapper-inner.on-active-rwd {
    margin-right: -40%;
    float: right; }
    @media (max-width: 570px) {
      .wrapper .wrapper-inner.on-active-rwd {
        margin-right: -60%; } }

@media (max-width: 1200px) {
  .logo-desc {
    margin-top: 15px; }

  .item-header h3 {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

  .main-navigation ul li a {
    font-size: 16px; } }
@media (max-width: 995px) {
  .header-in-left {
    text-align: center;
    max-height: inherit; }

  .logo {
    float: none;
    display: inline-block; }

  .logo-desc {
    display: inline-block;
    position: relative;
    top: 15px;
    text-align: left; }

  .main-navigation ul li a {
    font-size: 14px;
    padding: 8px 10px; }

  .left-sidebar,
  .right-sidebar {
    display: none; }

  .rwd-content-sidebar {
    display: block; }

  .item-header a {
    height: auto; }

  .site-main {
    overflow: hidden; }

  .widget-galeri-foto a {
    text-align: center; }
    .widget-galeri-foto a img {
      display: inline-block; }

  .widget-agenda .text-blue {
    float: none; } }
@media (max-width: 767px) {
  .main-navigation {
    display: none; }

  .rwd-navigation {
    display: block; } }
@media (max-width: 570px) {
  .item-header {
    width: 50%; }

  .article-md {
    width: 100%; }
    .article-md a figure {
      text-align: center; }
      .article-md a figure img {
        display: inline-block; }

  .item-article-gallery {
    width: 50%; }
    .item-article-gallery figure {
      text-align: center; }
      .item-article-gallery figure img {
        display: inline-block; } }
@media (max-width: 480px) {
  .logo {
    margin: 0; }

  .logo-desc {
    text-align: center; } }

/*# sourceMappingURL=app-unprefixed.css.map */
