@media (max-width: 1200px) {
	.logo-desc{
		margin-top: 15px;
	}
	.item-header{
		h3{
			font-size: 14px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.subitem-header{}
	}
	.main-navigation{
		ul{
			li{
				a{
					font-size: 16px;
				}
			}
		}
	}
}

@media (max-width: 995px) {
	.header-in-left{
		text-align: center;
		max-height: inherit;
	}
	.logo{
		float: none;
		display: inline-block;
	}
	.logo-desc{
		display: inline-block;
		position: relative;
		top: 15px;
		text-align: left;
	}
	.main-navigation{
		ul{
			li{
				a{
					font-size: 14px;
					padding: 8px 10px;
				}
			}
		}
	}
	.left-sidebar,
	.right-sidebar{
		display: none;
	}
	.rwd-content-sidebar{
		display: block;
	}
	.item-header{
		a{
			height: auto;
		}
	}
	.site-main{
		overflow: hidden;
	}
	.widget-galeri-foto a{
		text-align: center;
		img{
			display: inline-block;
		}
	}
	.widget-agenda{
		.text-blue{
			float: none;
		}
	}
}

@media (max-width: 950px) {    
}

@media (max-width: 767px) {
	.main-navigation{
		display: none;
	}
	.rwd-navigation{
		display: block;
	}
}

@media (max-width: 690px) {
}

@media (max-width: 570px) {
	.item-header{
		width: 50%;
	}
	.article-md{
		width: 100%;
		a{
			figure{
				text-align: center;
				img{
					display: inline-block;
				}
			}
		}
	}
	.item-article-gallery{
		width: 50%;
		figure{
			text-align: center;
			img{
				display: inline-block;
			}
		}
	}
}

@media (max-width: 480px) {
	.logo{
		margin: 0;
	}
	.logo-desc{
		text-align: center;
	}
}