.close-sidebar{
	margin-left: 30px;
}

.wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
	.wrapper-inner{
		transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
		position: relative;
		width: 100%;
		display: block;
		margin-right: 0;
	}
	.mask-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( black, .15 );
		z-index: -1;
		opacity: 0;
		transition: all 350ms ease;
	}
}

.nav-rwd-sidebar{
	z-index: 999;
	background-color: $green-light;
	position: fixed;
	height: 100%;
	transition: all 500ms ease;
	padding: 15px 0 30px;
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
	.nav-sidebar{
		margin-top: 50px;
	}
	ul{
		list-style: none outside none;
		padding: 0;
		margin: 0;
		margin-top: 15px;
		li{
			a, span{
				color: white;
				@include calibri-set;
				font-size: 13px;
				text-transform: capitalize;
				padding: 8px 30px;
				display: block;
				font-weight: 600;
			}
			a{
				&:hover,
				&:focus{
					color: white;
					background-color: $green-dark;
				}
			}
		}
	}
}

.btn-hide{
	display: inline-block;
	height: 38px;
	width: 38px;
	line-height: 38px;
	text-align: center;
	color: white;
	background-color: $green-dark;
	border-radius: 6px;
	font-size: 16px;
	&:hover,
	&:focus{
		background-color: $green-dark;
		color: $green-darken;
	}
}

// THIS KEY RESPONSIVE
.nav-rwd-sidebar{
	margin-left: -40%;
	width: 40%;
	@media (max-width: 570px) {
	    width: 60%;
	    margin-left: -60%;
	}
	&.rwd-sidebar-active{
		margin-left: 0;
	}
}

// THIS KEY RESPONSIVE
.wrapper{
	.wrapper-inner{
		margin-right: 0;
		&.on-active-rwd{
			margin-right: -40%;
			float: right;
			@media (max-width: 570px) {
			    margin-right: -60%;
			}
		}
	}
}