/*  TYPOGRAPHY's
/* ------------------------------------ */

/* Fool-proof @font-face */
/* Based on http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/ */
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
	@font-face {
		font-family: $font-family;
			src: url('#{$file-path}.eot');
			src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),url('#{$file-path}.woff') format('woff'),
				url('#{$file-path}.ttf') format('truetype'),
				url('#{$file-path}.svg##{$font-family}') format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
	}

	// Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		@font-face {
			font-family: $font-family;
			src: url('#{$file-path}.svg##{$font-family}') format('svg');
		}
	}
}

// INSTALLING FONT's
// @include font-face(Brandon, '../fonts/brandon_re-webfont', 400, normal);
// @mixin Brandon{
// 	font-family: "Brandon", sans-serif;
// 	font-weight: 400;
// 	font-style: normal;
// }
