// Color-scheme
$gray-light: #989898;
$gray-dark: darken( $gray-light, 15% );
$gray-darken: darken( $gray-light, 20% );
$green-light: #258532;
$green-dark: #10651c;
$green-darken: darken( $green-light, 20% );
$blue-light: #3668af;
$blue-dark: darken( $blue-light, 15% );
$red-light: #990101;
$red-dark: darken( $red-light, 15% );

// Font-type
$calibri: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
$slab: 'Roboto Slab', sans-serif;

@mixin calibri-set{
	font-family: $calibri;
}

@mixin slab-set{
	font-family: $slab;
}