/*
* THIS IS MASTER OF SASS-FILE
* Template customize
* Built with love by juan tonang (rizwanaritonang@gmail.com)
*/


/*  VARIABLE's
/* ------------------------------------ */
// percentage(1/3);
@import "variables";

/*  PARAMETRIC-MIXIN's
/* ------------------------------------ */
// SELECTION
@mixin selection(){
	::selection {
	}
	::-moz-selection {
	}
}

// GRADIENT-BACKGROUND
@mixin gradient( $color-first, $color-second ){
	background: $color-first;
	background-image: url("../images/bg-gradient.png");
	background-image: url("../images/bg-gradient.png"), linear-gradient( to bottom, $color-first, $color-second );
}

// OPACITY-MIXIN
@mixin opacity ( $value: 0.5 ) {
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
	filter: alpha(opacity= $value * 100 );
	zoom: 1;
}

// FONT-SMOOTHING
 @mixin antialias {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

// PLACEHOLDER
@mixin placeholder(){
	::-webkit-input-placeholder {
		font-family: $roboto;
		color: $color-text-gray-99;
	}

	:-moz-placeholder { /* Firefox 18- */
		font-family: $roboto;
		color: $color-text-gray-99;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		font-family: $roboto;
		color: $color-text-gray-99;
	}

	:-ms-input-placeholder {  
		font-family: $roboto;
		color: $color-text-gray-99;
	}
}

/*  MODULE
/* ------------------------------------ */
// GENERAL
html, body{
	height: 100%;
}

body{
	@include antialias;
	background: white;
	@include slab-set;
	font-size: 12px;
	background-color: darken( white, 3% );
	.container{
		background-color: white;
	}
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
	transition: all 250ms ease-out;
	&:hover, &:focus{
		text-decoration: none;
	}
}

p{

}

h1, h2, h3, h4, h5, h6{
	@include calibri-set;
	font-weight: bold;	

}

h1{}
h2{}
h3{
	font-size: 18px;
}
h4{}
h5{}
h6{}

b,
strong{
	font-weight: bold;
}

dfn,
cite,
em,
i{
	font-style: italic;
}

code,
kbd,
tt,
var,
samp,
pre{
	font-family: Inconsolata, monospace;
}

.img-caption{

}
a{
	&.img-caption{
		cursor: pointer;
		display: block;
		background-color: $green-dark;
		img{
			transition: opacity 350ms ease, transform 350ms ease;
		}
		&:hover,
		&:focus{
			img{
				opacity: .4;
			}
		}
	}
}

// HELPER
$spacer:
	( space15, 15px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

.reset-row-marg{
	margin-left: 0;
	margin-right: 0;
}

.reset-col-padd,
.reset-cont-padd{
	padding-left: 0;
	padding-right: 0;
}

$color:
	( text-red, $red-light, $red-dark ),
	( text-gray, $gray-light, $gray-dark ),
	( text-green, $green-light, $green-dark ),
	( text-blue, $blue-light, $blue-dark );
@each $color-text, $color-light, $color-dark in $color{
	.#{$color-text}{
		color: $color-light;
	}
	a.#{$color-text}{
		color: $color-light;
		&:hover,
		&:focus{
			color: $color-dark;
		}
	}
}



.mask-layer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba( black, .2 );
}

.fancy-line{
	margin-top: 15px;
	margin-bottom: 15px;
	border-top: 2px solid $green-darken;
}
// BUTTON
// @import "module/button";

// FORM
// @import "module/form";


/*  THEME
/* ------------------------------------ */
// ITEM-HEADER
.item-header{
	position: relative;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	border-right: 1px solid $green-dark;
	a{
		height: 189px;
		display: block;
		overflow: hidden;
		background-color: $green-dark;
		&:hover,
		&:focus{
			figure{
				opacity: .4;
			}
			h3{
				color: $green-darken;
			}
		}
	}
	&:first-child{
		border-left: 1px solid $green-dark;
	}
	h3{
		transition: color 350ms ease;
		margin: 0;
		padding: 8px 10px;
		@include gradient( $green-light, $green-dark );
		background-position: 0;
		text-transform: uppercase;
		color: white;
	}
	figure{
		display: block;
		transition: opacity 350ms ease, transform 350ms ease;
		img{
			height: 100%;
		}
	}
}

//ITEM-AGENDA
.item-agenda{
	margin-bottom: 5px;
	.meta-extra{
		margin-bottom: 0px;
	}
	h5{
		margin-top: 0;
		margin-bottom: 5px;
		a{
			color: #333;
			&:hover,
			&:focus{
				color: $gray-light;
			}
		}
	}
}

//ITEM-ASPIRASI
.item-aspirasi{
	border-top: 1px solid $green-dark;
	margin-bottom: 5px;
	&:last-child{
		border-bottom: 1px solid $green-dark;
	}
	blockquote{
		margin: 0;
		padding: 5px;
		border-left: 0;
		line-height: 1;
		p, i{
			margin: 0;
			font-size: 12px;
			color: $gray-light;
			display: inline;
		}
		i{
			display: inline-block;
		}
	}
}

// ARTICLES
article{
	.meta-extra{
		@include calibri-set;
	}
	header{
		margin-top: 10px;
		margin-bottom: 5px;
		h4{
			margin: 0;
			font-size: 16px;
			a{
				color: #333;
				&:hover,
				&:focus{
					color: $gray-light;
				}
			}
		}
	}
}

.article-md{
	.subarticle-md{
		border-top: 1px solid $green-dark;
		border-bottom: 1px solid $green-dark;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 10px;		
	}
	.article-content{
		padding: 0 10px;
	}

}

// GALLERY
.articles-gallery{
	padding-left: 15px;
	padding-right: 15px;
}
.item-article-gallery{
	position: relative;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: 7px;
}

// LIST-COUNTING
$black-light: lighten( black, 60% );
.list-counting{
	position: relative;
	text-align: center;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	li{
		display: inline-block;
		margin: 0 
	}
	span{
		@include calibri-set;
		display: block;
		position: relative;
		color: white;
		font-size: 24px;
		font-weight: bold;
		background-image: linear-gradient( to bottom, $black-light, black );
		border-radius: 3px;
		padding: 6px 12px;
		box-shadow: 0 6px 5px rgba(0, 0, 0, 0.38);
		overflow: hidden;
		&:after{
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto 0;
			background-color: rgba( black, .7 );
		}
	}
}
// WIDGETS
.widget{
	padding-bottom: 10px;
	margin-bottom: 10px;
	.title-widget{
		text-align: center;
		display: block;
		margin: 0 0 10px;
		padding: 8px 20px;
		font-size: 18px;
		@include gradient( $green-light, $green-dark );
		background-position: 0;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
	}
	.widget-content{
		padding: 0 15px;
	}
}

.widget-galeri-foto{
	a{
		display: block;
		background: $green-dark;
		margin-bottom: 5px;
		border: 1px solid $green-dark;
		&:hover,
		&:focus{
			img{
				opacity: .4;
			}
		}
		img{
			transition: opacity 350ms ease, transform 350ms ease;
		}
	}
}

.widget-agenda{
	.text-blue{
		float: right;
	}
}

.widget-latest-news{
	article{
		margin-bottom: 5px;
		&:hover,
		&:focus{
			.img-caption{
				img{
					opacity: .4;
				}
			}
		}
		header{
			margin-top: 0 !important;
		}
	}
	.img-caption{
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	h5{
		margin-top: 0;
		a{
			color: $blue-light;
			&:hover,
			&:focus{
				color: $blue-dark;
			}
		}
	}
}

.main-slider{
	position: relative;
	margin-bottom: 15px;
	.submain-slider{
		position: relative;
		background-color: $gray-dark;
	}
	.flexslider{
		margin-bottom: 0;
		border: none;
	}
	.nav-carousel{
		background: transparent;
		li{
			border: 2px solid transparent;
			&.flex-active-slide{
				border: 2px solid $red-dark;
			}
		}
	}
}

.flex-direction-nav a:before,
.flex-direction-nav a:after{
	font-size: 21px;

}
/*  SITE-HEADER
/* ------------------------------------ */
.site-header{
	position: relative;
	margin-bottom: 15px;
}

.site-header-top{
}

.header-in-left{
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image: url("../images/bg-top.jpg");
	padding: 30px;
	max-height: 189px
}

.header-in-right{}

.logo{
	float: left;
	margin-right: 30px;
	position: relative;
	a{
		display: block;
	}
}

.logo-desc{
	position: relative;
	margin-top: 30px;
	h1, h2, p{
		color: white;
	}
	h1, h2{
		text-transform: uppercase;
		margin: 0;
	}
	h1{
		font-size: 23px;
	}
	h2{
		font-size: 16px;
	}
}

.header-in-right{}

.site-header-bottom{
	position: relative;
	display: block;
}

.main-navigation{
	width: 100%;
	position: relative;
	@include gradient( $green-light, $green-dark );
	background-position: 0;
	@include calibri-set();
	display: block;
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li{
			float: left;
			display: block;
			&:first-child{
				a{
					border-left: 1px solid $green-dark;
				}
			}
			&:hover,
			&:focus,
			&.active{
				a{
					color: $green-darken;
				}
			}
			a{
				display: block;
				margin: 0;
				padding: 8px 20px;
				font-size: 18px;
				border-right: 1px solid $green-dark;
				color: white;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	}
}



/*  SITE-MAIN
/* ------------------------------------ */
.site-main{
	position: relative;
	margin-bottom: 30px;
}

/*  SITE-FOOTER
/* ------------------------------------ */
.site-footer{
	@include gradient( $green-light, $green-dark );
	@include calibri-set();
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px 30px;
	.copyright{
		font-size: 18px;
		margin: 0;
		color: white;
		a{
			color: white;
			&:hover,
			&:focus{
				color: $green-darken;
			}
		}
	}
}

.rwd-navigation{
	width: 100%;
	position: relative;
	@include gradient( $green-light, $green-darken );
	display: none;
	text-align: center;
	margin-bottom: 15px;
	.btn-show{
		cursor: pointer;
		padding: 8px 10px;
		width: 100%;
		display: block;
		@include calibri-set;
		color: white;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		&:hover,
		&:focus{
			color: $green-dark;
		}

	}
}

.rwd-content-sidebar{
	display: none;
	margin-top: 20px;
}


/*  MEDIA-QUERIES
/* ------------------------------------ */
@import "rwdsidebar";
@import "mediaqueries";