<header class="site-header">

	<div class="row site-header-top reset-row-marg">
		
		<div class="col-md-6 header-in-left reset-col-padd clearfix">
			
			<div class="mask-layer"></div>

			<div class="logo">
				<a href="#">
					<img src="images/logo.png">
				</a>
			</div><!-- / .logo -->

			<div class="logo-desc">
				<h1>Kecamatan Karawang Timur</h1>
				<h2>kabupaten karawang</h2>
				<p>Jl. Aria Adiarsa No.1 Kec. Karawang Timur Kab. Karawang</p>
			</div><!-- / .logo-desc -->

		</div><!-- / .col-md-6 .header-in-left -->

		<div class="rwd-navigation clearfix">
			<a href="javascript:;" class="btn-show"><i class="fa fa-bars"></i> Select a page ...</a>
		</div>

		<div class="col-md-6 header-in-right reset-col-padd clearfix">
			<div class="row reset-row-marg">
				
				<div class="col-md-3 col-xs-3 item-header">
					<a href="#" class="subitem-header">
						<h3>profile</h3>
						<figure>
							<img src="images/top-link/1.jpg">	
						</figure>
					</a>					
				</div><!-- / .item-header -->

				<div class="col-md-3 col-xs-3 item-header">
					<a href="#" class="subitem-header">
						<h3>pemerintahan</h3>
						<figure>
							<img src="images/top-link/2.jpg">
						</figure>
					</a>					
				</div><!-- / .item-header -->

				<div class="col-md-3 col-xs-3 item-header">
					<a href="#" class="subitem-header">
						<h3>lembaga</h3>
						<figure>
							<img src="images/top-link/3.jpg">
						</figure>
					</a>
				</div><!-- / .item-header -->

				<div class="col-md-3 col-xs-3 item-header">
					<a href="#" class="subitem-header">
						<h3>pengaduan</h3>
						<figure>
							<img src="images/top-link/4.jpg">
						</figure>
					</a>
				</div><!-- / .item-header -->

			</div>
		</div><!-- / .col-md-6 .header-in-right -->


	</div><!-- / .row .site-header-top -->

	<div class="row site-header-bottom reset-row-marg">
		<nav class="main-navigation clearfix">
			<ul>
				<li><a href="#">beranda</a></li>
				<li><a href="#">berita</a></li>
				<li><a href="#">statistik</a></li>
				<li><a href="#">peraturan</a></li>
				<li><a href="#">potensi desa</a></li>
				<li><a href="#">transparansi anggaran</a></li>
				<li><a href="#">galeri foto</a></li>
			</ul>
		</nav>
	</div><!-- / .row .site-header-bottom -->

</header>