<div class="row">
	
	<aside class="col-md-3 sidebar left-sidebar clearfix">
		
		<div class="widget widget-latest-news">
			<h3 class="title-widget">berita terkini</h3>

			<div class="widget-content clearfix">

				<article class="clearfix">
					
					<a href="#" class="img-caption">
						<figure>
							<img src="images/news/1.jpg" alt="">
						</figure>
					</a>
					<header>
						<h5><a href="#">Festival Asia Tri Jogja Kembali Digelar di Ullen Sentalu</a></h5>
					</header>
				</article>

				<article class="clearfix">
					
					<a href="#" class="img-caption">
						<figure>
							<img src="images/news/2.jpg" alt="">
						</figure>
					</a>
					<header>
						<h5><a href="#">Pesona Sunset di Candi Ratu Boko</a></h5>
					</header>
				</article>

				<article class="clearfix">
					
					<a href="#" class="img-caption">
						<figure>
							<img src="images/news/3.jpg" alt="">
						</figure>
					</a>
					<header>
						<h5><a href="#">Desa Wisata Kembang Arum</a></h5>
					</header>
				</article>

				<article class="clearfix">
					
					<a href="#" class="img-caption">
						<figure>
							<img src="images/news/4.jpg" alt="">
						</figure>
					</a>
					<header>
						<h5><a href="#">Festival Asia Tri Jogja Kembali Digelar di Ullen Sentalu</a></h5>
					</header>
				</article>

				<article class="clearfix">
					
					<a href="#" class="img-caption">
						<figure>
							<img src="images/news/5.jpg" alt="">
						</figure>
					</a>
					<header>
						<h5><a href="#">Pesona Sunset di Candi Ratu Boko</a></h5>
					</header>
				</article>

				<article class="clearfix">
					
					<a href="#" class="img-caption">
						<figure>
							<img src="images/news/1.jpg" alt="">
						</figure>
					</a>
					<header>
						<h5><a href="#">Desa Wisata Kembang Arum</a></h5>
					</header>
				</article>

				<article class="clearfix">
					
					<a href="#" class="img-caption">
						<figure>
							<img src="images/news/1.jpg" alt="">
						</figure>
					</a>
					<header>
						<h5><a href="#">Festival Asia Tri Jogja Kembali Digelar di Ullen Sentalu</a></h5>
					</header>
				</article>

				<article class="clearfix">
					
					<a href="#" class="img-caption">
						<figure>
							<img src="images/news/2.jpg" alt="">
						</figure>
					</a>
					<header>
						<h5><a href="#">Pesona Sunset di Candi Ratu Boko</a></h5>
					</header>
				</article>

				<article class="clearfix">
					
					<a href="#" class="img-caption">
						<figure>
							<img src="images/news/3.jpg" alt="">
						</figure>
					</a>
					<header>
						<h5><a href="#">Desa Wisata Kembang Arum</a></h5>
					</header>
				</article>

			</div>
		</div><!-- / .widget-latest-news -->

		<div class="widget widget-galeri-foto">
			<h3 class="title-widget">galeri foto</h3>

			<div class="widget-content clearfix">
				<a href="#" class="item-gallery-foto">
					<img src="images/gallery/1.png">
				</a>
				<a href="#" class="item-gallery-foto">
					<img src="images/gallery/2.png">
				</a>
				<a href="#" class="item-gallery-foto">
					<img src="images/gallery/3.png">
				</a>
				<a href="#" class="item-gallery-foto">
					<img src="images/gallery/4.png">
				</a>
				<a href="#" class="item-gallery-foto">
					<img src="images/gallery/1.png">
				</a>
				<a href="#" class="item-gallery-foto">
					<img src="images/gallery/2.png">
				</a>
				<a href="#" class="item-gallery-foto">
					<img src="images/gallery/3.png">
				</a>
				<a href="#" class="item-gallery-foto">
					<img src="images/gallery/4.png">
				</a>
			</div>
		</div><!-- / .widget-galeri-foto -->

	</aside><!-- / .sidebar .clearfix -->

	<div class="col-md-6 main-content clearfix">

		<div class="main-slider clearfix">
			<div class="row reset-row-marg">
				<div class="col-md-12">
					<div class="submain-slider clearfix">
						<div id="slider" class="flexslider">
							<ul class="slides">
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/1.jpg" alt="">			
										</figure>
									</a>
								</li>
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/1.jpg" alt="">			
										</figure>
									</a>
								</li>
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/1.jpg" alt="">			
										</figure>
									</a>
								</li>
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/1.jpg" alt="">			
										</figure>
									</a>
								</li>
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/1.jpg" alt="">			
										</figure>
									</a>
								</li>
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/1.jpg" alt="">			
										</figure>
									</a>
								</li>
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/1.jpg" alt="">			
										</figure>
									</a>
								</li>
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/1.jpg" alt="">			
										</figure>
									</a>
								</li>
							</ul>
						</div><!-- / #slider -->

						<div id="carousel" class="flexslider nav-carousel">
							<ul class="slides">
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/small1.jpg" alt="">
										</figure>
									</a>
								</li>
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/small2.jpg" alt="">
										</figure>
									</a>
								</li>
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/small3.jpg" alt="">
										</figure>
									</a>
								</li>
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/small1.jpg" alt="">
										</figure>
									</a>
								</li>
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/small1.jpg" alt="">
										</figure>
									</a>
								</li> 
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/small3.jpg" alt="">
										</figure>
									</a>
								</li>
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/small1.jpg" alt="">
										</figure>
									</a>
								</li>
								<li>
									<a class="img-caption">
										<figure>
											<img src="images/slider/small3.jpg" alt="">
										</figure>
									</a>
								</li>
							</ul>
						</div><!-- / #carousel -->						
					</div>
	
				</div>
			</div>

		</div><!-- / .main-slider -->

		<div class="row reset-row-marg articles">
			
			<article class="col-md-6 col-xs-6 article-md">
				<div class="subarticle-md">
					<a href="#" class="img-caption">
						<figure>
							<img src="images/md-thumb.jpg">
						</figure>
					</a>				
					<div class="article-content">
						<header>
							<h4><a href="#">Penghargaan MDGs 2014 Kota Bandung</a></h4>
						</header>
						<p>Pemerintah Kota Bandung kembali mempersembahkan prestasi di bidang kesehatan dengan mendapatkan ...</p>
					</div>
				</div>
			</article><!-- / .article-md col-md-6 -->

			<article class="col-md-6 col-xs-6 article-md">
				<div class="subarticle-md">
					<a href="#" class="img-caption">
						<figure>
							<img src="images/md-thumb.jpg">
						</figure>
					</a>				
					<div class="article-content">
						<header>
							<h4><a href="#">Penghargaan MDGs 2014 Kota Bandung</a></h4>
						</header>
						<p>Pemerintah Kota Bandung kembali mempersembahkan prestasi di bidang kesehatan dengan mendapatkan ...</p>
					</div>
				</div>
			</article><!-- / .article-md col-md-6 -->

		</div><!-- / .row .reset-row-marg .articles -->

		<div class="row reset-row-marg">
			<div class="articles-gallery clearfix">
				<div class="col-md-12 reset-col-padd clearfix">
					<hr class="fancy-line">
				</div>
				
				<div class="col-md-3 col-xs-3 item-article-gallery">
					<div class="subitem-article-gallery">
						<a href="images/galeri-pict/1.jpg" class="img-caption" rel="prettyPhoto">
							<figure>
								<img src="images/galeri-pict/1.jpg" alt="">
							</figure>
						</a>
					</div>
				</div><!-- / .col-md-3 .item-article-gallery -->

				<div class="col-md-3 col-xs-3 item-article-gallery">
					<div class="subitem-article-gallery">
						<a href="images/galeri-pict/2.jpg" class="img-caption" rel="prettyPhoto">
							<figure>
								<img src="images/galeri-pict/2.jpg" alt="">
							</figure>
						</a>
					</div>
				</div><!-- / .col-md-3 .item-article-gallery -->

				<div class="col-md-3 col-xs-3 item-article-gallery">
					<div class="subitem-article-gallery">
						<a href="#images/galeri-pict/3.jpg" class="img-caption" rel="prettyPhoto">
							<figure>
								<img src="images/galeri-pict/3.jpg" alt="">
							</figure>
						</a>
					</div>
				</div><!-- / .col-md-3 .item-article-gallery -->

				<div class="col-md-3 col-xs-3 item-article-gallery">
					<div class="subitem-article-gallery">
						<a href="images/galeri-pict/4.jpg" class="img-caption" rel="prettyPhoto">
							<figure>
								<img src="images/galeri-pict/4.jpg" alt="">
							</figure>
						</a>
					</div>
				</div><!-- / .col-md-3 .item-article-gallery -->

				<div class="col-md-3 col-xs-3 item-article-gallery">
					<div class="subitem-article-gallery">
						<a href="images/galeri-pict/5.jpg" class="img-caption" rel="prettyPhoto">
							<figure>
								<img src="images/galeri-pict/5.jpg" alt="">
							</figure>
						</a>
					</div>
				</div><!-- / .col-md-3 .item-article-gallery -->

				<div class="col-md-3 col-xs-3 item-article-gallery">
					<div class="subitem-article-gallery">
						<a href="images/galeri-pict/6.jpg" class="img-caption" rel="prettyPhoto">
							<figure>
								<img src="images/galeri-pict/6.jpg" alt="">
							</figure>
						</a>
					</div>
				</div><!-- / .col-md-3 .item-article-gallery -->
 
				<div class="col-md-3 col-xs-3 item-article-gallery">
					<div class="subitem-article-gallery">
						<a href="images/galeri-pict/4.jpg" class="img-caption" rel="prettyPhoto">
							<figure>
								<img src="images/galeri-pict/4.jpg" alt="">
							</figure>
						</a>
					</div>
				</div><!-- / .col-md-3 .item-article-gallery -->

				<div class="col-md-3 col-xs-3 item-article-gallery">
					<div class="subitem-article-gallery">
						<a href="images/galeri-pict/1.jpg" class="img-caption" rel="prettyPhoto">
							<figure>
								<img src="images/galeri-pict/1.jpg" alt="">
							</figure>
						</a>
					</div>
				</div><!-- / .col-md-3 .item-article-gallery -->


			</div>
		</div><!-- / .articles-gallery -->
		
	</div><!-- / .main-content .clearfix -->

	<div class="rwd-content-sidebar clearfix"></div>

	<aside class="col-md-3 sidebar right-sidebar clearfix">
		
		<div class="widget widget-agenda">
			<h3 class="title-widget">agenda</h3>
			
			<div class="widget-content clearfix">
				
				<article class="item-agenda">
					<p class="meta-extra">Selasa, 09 Desember 2014</p>
					<h5><a href="#">Pengukuhan Desa Tangguh Bencana</a></h5>

					<p><strong>Lokasi :</strong> <span class="text-red">Lapangan Barak Soprayan Girikerto Turi.</span></p>
				</article>

				<article class="item-agenda">
					<p class="meta-extra">Selasa, 09 Desember 2014</p>
					<h5><a href="#">Musda LGN-OTA Kabupaten Sleman</a></h5>

					<p><strong>Lokasi :</strong> <span class="text-red">Mbok Berek Garden Jl Magelang.</span></p>
				</article>

				<article class="item-agenda">
					<p class="meta-extra">Selasa, 09 Desember 2014</p>
					<h5><a href="#">Tindak Lanjut Pemetakan Kali Gajah Wong</a></h5>

					<p><strong>Lokasi :</strong> <span class="text-red">Papringan Condongcatur Depok</span></p>
				</article>

				<article class="item-agenda">
					<p class="meta-extra">Selasa, 09 Desember 2014</p>
					<h5><a href="#">Pengukuhan Desa Tangguh Bencana</a></h5>

					<p><strong>Lokasi :</strong> <span class="text-red">Lapangan Barak Soprayan Girikerto Turi.</span></p>
				</article>

				<article class="item-agenda">
					<p class="meta-extra">Selasa, 09 Desember 2014</p>
					<h5><a href="#">Musda LGN-OTA Kabupaten Sleman</a></h5>

					<p><strong>Lokasi :</strong> <span class="text-red">Mbok Berek Garden Jl Magelang.</span></p>
				</article>

				<a href="#" class="text-blue">
					Selengkapnya <i class="fa fa-angle-double-right"></i>
				</a>

			</div>
		</div><!-- / .widget-agenda -->

		<div class="widget widget-aspirasi">
			<h3 class="title-widget">aspirasi</h3>

			<div class="widget-content">

				<article class="item-aspirasi">
					<blockquote>
						<i class="fa fa-quote-left"></i>
						<p>Saya prihatin dengan kondisi kota bandung. kerja selalu macet. saya mengusulkan kepada lahan parkir yang memadai bukan lagi parkir di lahan parkir. </p>
						<i class="fa fa-quote-right"></i>	
					</blockquote>
				</article>

				<article class="item-aspirasi">
					<blockquote>
						<i class="fa fa-quote-left"></i>
						<p>Saya prihatin dengan kondisi kota bandung. kerja selalu macet. saya mengusulkan kepada lahan parkir yang memadai bukan lagi parkir di lahan parkir. </p>
						<i class="fa fa-quote-right"></i>	
					</blockquote>
				</article>

				<article class="item-aspirasi">
					<blockquote>
						<i class="fa fa-quote-left"></i>
						<p>Saya prihatin dengan kondisi kota bandung. kerja selalu macet. saya mengusulkan kepada lahan parkir yang memadai bukan lagi parkir di lahan parkir. </p>
						<i class="fa fa-quote-right"></i>	
					</blockquote>
				</article>

			</div>
		</div><!-- / .widget-aspirasi -->

		<div class="widget widget-pengunjung">
			<h3 class="title-widget">pengunjung</h3>

			<div class="widget-content">
				
				<ul class="list-counting clearfix">
					<li>
						<span>0</span>
					</li>
					<li>
						<span>0</span>
					</li>
					<li>
						<span>0</span>
					</li>
					<li>
						<span>1</span>
					</li>
					<li>
						<span>2</span>
					</li>
					<li>
						<span>6</span>
					</li>
				</ul>

			</div>
		</div><!-- / .widget-pengunjung -->

	</aside><!-- / .sidebar .clearfix -->

</div>