.btn{
	display: inline-block;
	padding: 8px 16px;
	text-transform: uppercase;
	transition: all 350ms ease-out;
	font-weight: 500;
	&:hover,
	&:focus{
		text-decoration: none;
		outline-color: transparent;
	}
}