input[type="text"], 
input[type="email"], 
input[type="website"], 
input[type="search"],
textarea{
	width: 100%;
	padding: 1em;
	border: 1px solid rgba( $color-border, .7 );
}
textarea{
	resize: vertical;
}